* {
    margin: 0;
    padding: 0;
}

/* banner-area  responsive-css style */
.banner-area {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 90%;
    height: 616px;
    margin-top: 10px;
    margin-left: 19px
}

.text-item h1 {
    font-size: 20px;
    text-align: center;


}

.text-item p {
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.text-item h1,
p {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.text-item a {
    margin-left: 120px;

}

.ozil-image-item img {
    position: relative;
    right: 229px;
    top: 45px;

}

/* section about-matchs responsive css style */

.about-matchs {
    flex-direction: column;
}

.collum-button {
    background-color: white;
    width: 230px;
}

.matchs {
    font-size: 20px;
    width: 185px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 15px;
    color: black;

}

.matchs:hover {
    background-color: khaki;
}

.previous-matchs {
    margin-left: 19px;
    width: 90%;
}

.previous-matchs img {
    width: 100%;
}






/* .transfer-item {
    padding: 3px 5px;
    font-size: 14px;
}

.transfer-item:hover {
    background-color: lightcyan;
    font-size: 15px;
    border: none;
} */

/* section end-item responsive css style */
.end-item h1 {
    margin-bottom: 15px;
}

.footer-item a {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.footer-link-item {
    padding-left: 40px;
    padding-bottom: 6px;
}