* {
    margin: 0;
    padding: 0;
}

/* banner-area  responsive-css style */
.banner-area {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 90%;
    height: 616px;
    margin-top: 10px;
    margin-left: 20px
}

.text-item h1 {
    font-size: 20px;
    text-align: center;


}

.text-item p {
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.text-item h1,
p {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.text-item a {
    margin-left: 125px;

}

.ozil-image-item img {
    position: relative;
    right: 229px;
    top: 45px;

}

/* section about-matchs responsive css style */

.about-matchs {
    flex-direction: column;
}

.collum-button {
    background-color: white;
    width: 230px;
}

.matchs {
    font-size: 20px;
    width: 185px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 15px;
    color: black;
}

.matchs:hover {
    background-color: khaki;
}

.previous-matchs {
    margin-left: 20px;
    width: 90%;
}

.previous-matchs img {
    width: 100%;
}