body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* banner-area css style */
.banner-area {
    display: flex;
    background-color: black;
    border-radius: 21px;
    color: white;
    width: 85%;
    height: 393px;
    margin-left: 106px;
    margin-top: 30px;
}

.banner-area:hover {
    background-color: gray;
}

.text-item h1 {
    font-size: 40px;
}

.text-item h1,
p {
    margin-left: 72px;
}

.text-item a {
    text-decoration: none;
    background-color: lightblue;
    color: black;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 72px;

}

.text-item a:hover {
    font-size: 15px;
    background-color: khaki;
}

.ozil-image-item img {
    animation: animate1 1.01s ease-out infinite alternate;
}

@keyframes animate1 {
    0% {
        transform: scale(1.10);
    }

}

/* section about-matchs css style */

.about-matchs {
    display: flex;
}

.collum-button {
    margin-top: 50px;
    margin-left: 59px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: black;
    width: 216px;
    height: 200px;
    display: inline-grid;
}

.matchs {
    width: 118px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 13px 3px 2px 5px;
    font-size: 12px;
    border: none;
    margin-bottom: 18px;
    margin-top: 5px;
    background-color: white;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.matchs:hover {
    background-color: khaki;
    font-size: 13px;
}

.matchs-item {
    margin-top: 29px;
}

.previous-matchs {
    display: inline-block;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: khaki;
    border: none;
    border-radius: 10px;
}

.previous-matchs img {
    width: 267px;
    height: 163px;
    border-radius: 10px;
}

.previous-matchs button {
    margin-left: 20px;
}

.previous-matchs h1 {
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 9px;
}

.previous-matchs h5 {
    display: inline-block;
    margin: 0;
    padding-bottom: 20px;
}

.transfer-item {
    padding: 3px 5px;
    font-size: 14px;
}

.transfer-item:hover {
    background-color: lightcyan;
    font-size: 15px;
    border: none;
}

i.fa-regular.fa-clock {
    margin-left: 21px;
}



i.fa-regular.fa-comment-dots {
    margin-left: 34px;
    font-size: 17px;
}

/* end-item section css style */



.end-item {
    margin-top: 206px;
    background-color: black;
    color: white;
}

.end-item h1 {
    font-size: 33px;
    padding-bottom: 5px;
    padding-top: 66px;
    text-align: center;
}

.footer-item {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 12px;
}

.footer-item a {
    margin-right: 34px;
    margin-left: 16px;
    color: gray;
    text-decoration: none;
    font-size: 13px;
}

.footer-link-item {
    padding-left: 620px;
    padding-bottom: 16px;
}

.short-text-item {
    color: lightblue;
}

.footer-link {
    font-size: 17px;
    margin-left: 13px;
    margin-right: 13px;
}